.luar-container h1 {
    font-size: 2.5rem;
}

.luar-container h2 {
    font-size: 1.8rem;
}

.luar-container p {
    line-height: 1.6;
}

.luar-container .album-card {
    background-color: #fff;
    color: #000;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}